// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
}

.inner-container{
  width: 300px;
}

h1 {
  color: teal;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 15px;
}

body {
  text-align: left;
}

li {
  padding: 3px 3px;
}
